Repository UXCorpRangel/ana-cards-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --ext .js,.mjs,.cjs ./, prettier --cache --write "./**/*.{js,mjs,cjs}", eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .tsx ./, prettier --cache --write "./**/*.tsx", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro", prettier --cache --write "./src/**/*.css", prettier --cache --write "./**/*.json", prettier --cache --write "./**/*.{yaml,yml}"

.lintstagedrc.json:

{
  "./**/*.{js,mjs,cjs}": [
    "eslint --cache --fix --ext .js,.mjs,.cjs ./",
    "prettier --cache --write \"./**/*.{js,mjs,cjs}\""
  ],
  "./**/*.ts": ["eslint --cache --fix --ext .ts ./", "prettier --cache --write \"./**/*.ts\""],
  "./**/*.tsx": ["eslint --cache --fix --ext .tsx ./", "prettier --cache --write \"./**/*.tsx\""],
  "./src/**/*.astro": [
    "eslint --cache --fix --ext .astro ./src/",
    "prettier --cache --write \"./src/**/*.astro\""
  ],
  "./src/**/*.css": "prettier --cache --write \"./src/**/*.css\"",
  "./**/*.json": "prettier --cache --write \"./**/*.json\"",
  "./**/*.{yaml,yml}": "prettier --cache --write \"./**/*.{yaml,yml}\""
}

perf: :zap: optimize card rendering performance
  src/components/CardSample.astro
  src/components/Cards/AnaCard.astro
  src/components/Cards/Card.astro
  src/components/Cards/Cards.astro
  src/components/Cards/DialogCard.astro
  src/components/Cards/DialogMenu.astro
  src/components/Cards/ana-card.wc.ts
  src/data/demo-categories.ts
  src/icons/close.svg
  src/layouts/Page.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: add cancel event listener to `DialogCard`
  src/components/Cards/DialogCard.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: remove unnecessary CSS code for margin-top in index page
  src/pages/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: update audio file paths
  public/assets/audio/card-flick.mp3
  public/assets/audio/star.mp3
  src/components/Footer/Footer.astro
  src/sections/home/CardsCategory.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: update Astro
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write "./**/*.json", prettier --cache --write "./**/*.{yaml,yml}"

style: update cursor style in AnaCard component
  src/components/Cards/ana-card.wc.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts"

feat: update creators info
  public/assets/images/creators/anarangel.avif
  public/assets/images/creators/felixicaza.avif
  public/assets/images/creators/jagcruz.avif
  public/assets/images/creators/jane_doe.webp
  public/assets/images/creators/jhon_doe.webp
  public/assets/images/creators/juan_perez.webp
  public/assets/images/creators/marta_perez.webp
  public/assets/images/creators/odracirdev.avif
  public/assets/images/creators/omaaraguirre.avif
  src/components/Creator/Creator.astro
  src/contracts/creator.type.ts
  src/data/creators.ts
  src/icons/socials/behance.svg
  src/icons/socials/codepen.svg
  src/icons/socials/discord.svg
  src/icons/socials/instagram.svg
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: update creator image
  public/assets/images/creators/felixicaza.avif
Due: none

feat: update `Creator` component with tooltip functionality
  src/components/Creator/Creator.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: remove textures in card components
  src/components/CardSample.astro
  src/components/Cards/AnaCard.astro
  src/components/Cards/Card.astro
  src/components/Cards/ana-card.wc.ts
  src/layouts/Base.astro
  src/layouts/Page.astro
  src/sections/home/Hero.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: improve responsive design in card component
  src/components/CardSample.astro
  src/components/Cards/AnaCard.astro
  src/components/Cards/Card.astro
  src/components/Cards/ana-card.wc.ts
  src/layouts/Base.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: refactor `DialogCard` component styles for responsive design
  src/components/Cards/Card.astro
  src/components/Cards/DialogCard.astro
  src/components/Cards/DialogMenu.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: adjust scale of creator tooltip
  src/components/Creator/Creator.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: adjust grid layout and responsive design in ranking page
  src/layouts/Base.astro
  src/pages/ranking/[user].astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: add missing measure on media query
  src/pages/ranking/[user].astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: improve responsive design in AnaCard component
  src/components/Cards/AnaCard.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: improve responsive design in ranking page
  src/pages/ranking/[user].astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: update astro version
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write "./**/*.json", prettier --cache --write "./**/*.{yaml,yml}"

update felix icaza image and description
  public/assets/images/creators/felixicaza.avif
  src/data/creators.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts"

chore add party hat SVG image for creators' avatars
  public/assets/images/party-hat.svg
  src/components/Creator/Creator.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: add birthday celebration to creator avatar
  public/assets/images/party-hat.avif
  public/assets/images/party-hat.svg
  src/components/Creator/Creator.astro
  src/contracts/creator.type.ts
  src/data/creators.ts
  src/pages/creators.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: fix avatar wrapper class in `Creator` component
  src/components/Creator/Creator.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: add `isAmazing` flag to Creator component
  src/components/Creator/Creator.astro
  src/contracts/creator.type.ts
  src/data/creators.ts
  src/pages/creators.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :bug: fix creators alignment
  src/components/Creator/Creator.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :art: Improve the responsive into the ranking view
  src/components/RankingItem/RankingItem.astro
  src/pages/ranking/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :sparkles: improve home page responsive
  src/components/CardSample.astro
  src/components/Footer/Footer.astro
  src/components/ScrollToTop.astro
  src/sections/home/Hero.astro
  src/sections/home/Information.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :art: Se realizaron los cambios indicado en la revisión
  src/components/CardSample.astro
  src/components/Footer/Footer.astro
  src/components/ScrollToTop.astro
  src/sections/home/Hero.astro
  src/sections/home/Information.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

Update CardSample.astro
  src/components/CardSample.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

Update Hero.astro
  src/sections/home/Hero.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

Update Information.astro
  src/sections/home/Information.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: format README file
  README.md
Due: none

refactor: :recycle: roadmap component
  src/components/CardRoadmap.astro
  src/contracts/index.ts
  src/contracts/roadmap.type.ts
  src/pages/roadmap.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :rocket: update roadmap
  src/data/roadmap.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts"

chore: :beers: change Ana profile photo
  public/assets/images/creators/anarangel.avif
Due: none

fix contributors info
  src/sections/home/Contributors.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"
