Repository UXCorpRangel/ana-cards-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --ext .js,.mjs,.cjs ./, prettier --cache --write "./**/*.{js,mjs,cjs}", eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .tsx ./, prettier --cache --write "./**/*.tsx", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro", prettier --cache --write "./src/**/*.css", prettier --cache --write "./**/*.json", prettier --cache --write "./**/*.{yaml,yml}"

feat: :lipstick: Improve responsive in creators view
  src/components/Creator/Creator.astro
  src/pages/creators.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :lipstick: cambiando los tamaños a los recomendados
  src/components/Creator/Creator.astro
  src/pages/creators.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :lipstick: cambiando el tamaño del media al tamaño sugerido
  src/pages/ranking/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: update `README` file
  README.md
Due: none

chore: Update `README` file
  README.md
Due: none

feat: :construction: hide share button
  src/components/Cards/DialogMenu.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :busts_in_silhouette: add snowy information
  public/assets/images/creators/luciano-morales.avif
  src/data/creators.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts"

chore: remove pnpm-lock.yaml
  .gitignore
  pnpm-lock.yaml
Due: prettier --cache --write "./**/*.{yaml,yml}"

chore: remove site config
  astro.config.mjs
  src/components/Cards/AnaCard.astro
  src/components/Cards/ana-card.wc.ts
  src/components/Creator/Creator.astro
  src/components/Footer/Footer.astro
  src/components/RankingItem/RankingItem.astro
  src/layouts/Base.astro
  src/layouts/Page.astro
  src/sections/home/CardsCategory.astro
  src/sections/home/Information.astro
Due: eslint --cache --fix --ext .js,.mjs,.cjs ./, prettier --cache --write "./**/*.{js,mjs,cjs}", eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: update pahts
  src/components/CardSample.astro
  src/components/Cards/Card.astro
  src/components/Cards/ana-card.wc.ts
  src/components/Creator/Creator.astro
  src/components/Footer/Footer.astro
  src/components/Navbar/Navbar.astro
  src/components/RankingItem/RankingItem.astro
  src/data/creators.ts
  src/data/demo-categories.ts
  src/layouts/Base.astro
  src/pages/404.astro
  src/pages/ranking/[user].astro
  src/pages/ranking/index.astro
  src/sections/home/Hero.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: delete `.github/workflows` directory
  .github/workflows/deploy.yml
Due: prettier --cache --write "./**/*.{yaml,yml}"

chore: update Readme
  README.md
  public/og.png
Due: none

refactor: :zap: update pnpm and realtime filter input search
  package.json
  src/pages/ranking/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro", prettier --cache --write "./**/*.json"

Path conditions:
  eslint --cache --fix --ext .js,.mjs,.cjs ./: any of: ./**/*.{js,mjs,cjs}
  prettier --cache --write "./**/*.{js,mjs,cjs}": any of: ./**/*.{js,mjs,cjs}
  eslint --cache --fix --ext .ts ./: any of: ./**/*.ts
  prettier --cache --write "./**/*.ts": any of: ./**/*.ts
  eslint --cache --fix --ext .tsx ./: any of: ./**/*.tsx
  prettier --cache --write "./**/*.tsx": any of: ./**/*.tsx
  eslint --cache --fix --ext .astro ./src/: any of: ./src/**/*.astro
  prettier --cache --write "./src/**/*.astro": any of: ./src/**/*.astro
  prettier --cache --write "./src/**/*.css": any of: ./src/**/*.css
  prettier --cache --write "./**/*.json": any of: ./**/*.json
  prettier --cache --write "./**/*.{yaml,yml}": any of: ./**/*.{yaml,yml}
