Repository UXCorpRangel/ana-cards-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --ext .js,.mjs,.cjs ./, prettier --cache --write "./**/*.{js,mjs,cjs}", eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .tsx ./, prettier --cache --write "./**/*.tsx", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro", prettier --cache --write "./src/**/*.css", prettier --cache --write "./**/*.json", prettier --cache --write "./**/*.{yaml,yml}"

feat: add contributors avatars
  src/pages/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: optimize images with Picture component
  astro.config.mjs
  src/pages/index.astro
Due: eslint --cache --fix --ext .js,.mjs,.cjs ./, prettier --cache --write "./**/*.{js,mjs,cjs}", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: add tooltip to avatars
  src/pages/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: :arrow_up: update astro
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write "./**/*.json", prettier --cache --write "./**/*.{yaml,yml}"

chore: :wrench: update ignore files
  .eslintignore
  .prettierignore
Due: none

feat: 🚀 update 404 page
  public/assets/images/404.webp
  src/components/Navbar/NavbarLogo.astro
  src/layouts/Base.astro
  src/pages/404.astro
  src/pages/ranking/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: update 404 page link to use `BASE_URL`
  src/pages/404.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :sparkles: add special category
  src/contracts/card-category.type.ts
  src/icons/categories/special.svg
  src/pages/index.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: 🚀 add interaction for cards category on home page
  public/assets/images/dummies/cat-design.webp
  public/assets/images/dummies/cat-development.webp
  public/assets/images/dummies/cat-harley.webp
  public/assets/images/dummies/cat-lore.webp
  public/assets/images/dummies/cat-special.webp
  public/assets/images/dummies/cat-tools.webp
  public/assets/images/dummies/cat-troll.webp
  src/components/CardSample.astro
  src/contracts/card-category.type.ts
  src/data/demo-categories.ts
  src/icons/categories/special.svg
  src/pages/index.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :construction: add construction dialog component to home page
  src/components/ConstructionDialog.astro
  src/pages/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: update button styles in `ConstructionDialog` component
  src/components/ConstructionDialog.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: set default selected category in card sample component
  src/components/CardSample.astro
  src/data/demo-categories.ts
  src/pages/index.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: add indicators to card sample component
  src/components/CardSample.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: update `CardSample` indicators
  src/components/CardSample.astro
  src/data/demo-categories.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix dialog modal close and add key to localStorage when close
  src/components/ConstructionDialog.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

update env.d.ts file
  src/env.d.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts"

create sections components for homepage
  src/sections/home/Information.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

add alias for sections
  tsconfig.json
Due: prettier --cache --write "./**/*.json"

import Information component
  src/pages/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

add animation on scroll for card-stack
  src/sections/home/Information.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

add card.png
  public/assets/images/card.png
Due: none

fix cardStack is posible null
  src/sections/home/Information.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

perf: update ranking users
  src/data/ranking.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts"

feat: add share and download buttons
  src/components/Cards/Cards.astro
  src/icons/download.svg
  src/icons/share.svg
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

install html-to-image and downloadjs
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write "./**/*.json", prettier --cache --write "./**/*.{yaml,yml}"

feat: add `SPECIAL` category to card dummies
  src/data/cards.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts"

chore: add categories icons to public folder
  public/assets/icons/categories/design.svg
  public/assets/icons/categories/dev.svg
  public/assets/icons/categories/harley.svg
  public/assets/icons/categories/lore.svg
  public/assets/icons/categories/special.svg
  public/assets/icons/categories/tools.svg
  public/assets/icons/categories/troll.svg
Due: none

style: update styles in Cards.astro component
  src/components/Cards/Cards.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: add download button to save card
  src/components/Cards/Cards.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: remove astro-icon component
  src/components/Cards/Card.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

add .remove-animation classname
  src/components/Cards/Card.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: hide box shadown when download card image
  src/components/Cards/Cards.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: add share card image functionality
  src/components/Cards/Cards.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: update share and download card functionality
  src/components/Cards/Cards.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: create Contributors section
  src/pages/index.astro
  src/sections/home/Contributors.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: create CardsCategory section
  src/pages/index.astro
  src/sections/home/CardsCategory.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: create Hero section
  src/pages/index.astro
  src/sections/home/Hero.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: fix spacing between sections and update content padding
  public/audio/card-flick.mp3
  public/audio/card-flick.mp3:Zone.Identifier
  src/pages/index.astro
  src/sections/home/Contributors.astro
  src/sections/home/Information.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: add sound effect when card is flip
  public/audio/card-flick.mp3:Zone.Identifier
  src/sections/home/CardsCategory.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

add creators info
  src/components/Creator/Creator.astro
  src/data/creators.ts
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

Path conditions:
  eslint --cache --fix --ext .js,.mjs,.cjs ./: any of: ./**/*.{js,mjs,cjs}
  prettier --cache --write "./**/*.{js,mjs,cjs}": any of: ./**/*.{js,mjs,cjs}
  eslint --cache --fix --ext .ts ./: any of: ./**/*.ts
  prettier --cache --write "./**/*.ts": any of: ./**/*.ts
  eslint --cache --fix --ext .tsx ./: any of: ./**/*.tsx
  prettier --cache --write "./**/*.tsx": any of: ./**/*.tsx
  eslint --cache --fix --ext .astro ./src/: any of: ./src/**/*.astro
  prettier --cache --write "./src/**/*.astro": any of: ./src/**/*.astro
  prettier --cache --write "./src/**/*.css": any of: ./src/**/*.css
  prettier --cache --write "./**/*.json": any of: ./**/*.json
  prettier --cache --write "./**/*.{yaml,yml}": any of: ./**/*.{yaml,yml}
