Repository UXCorpRangel/ana-cards-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --ext .js,.mjs,.cjs ./, prettier --cache --write "./**/*.{js,mjs,cjs}", eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .tsx ./, prettier --cache --write "./**/*.tsx", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro", prettier --cache --write "./src/**/*.css", prettier --cache --write "./**/*.json", prettier --cache --write "./**/*.{yaml,yml}"

.lintstagedrc.json:

{
  "./**/*.{js,mjs,cjs}": [
    "eslint --cache --fix --ext .js,.mjs,.cjs ./",
    "prettier --cache --write \"./**/*.{js,mjs,cjs}\""
  ],
  "./**/*.ts": ["eslint --cache --fix --ext .ts ./", "prettier --cache --write \"./**/*.ts\""],
  "./**/*.tsx": ["eslint --cache --fix --ext .tsx ./", "prettier --cache --write \"./**/*.tsx\""],
  "./src/**/*.astro": [
    "eslint --cache --fix --ext .astro ./src/",
    "prettier --cache --write \"./src/**/*.astro\""
  ],
  "./src/**/*.css": "prettier --cache --write \"./src/**/*.css\"",
  "./**/*.json": "prettier --cache --write \"./**/*.json\"",
  "./**/*.{yaml,yml}": "prettier --cache --write \"./**/*.{yaml,yml}\""
}

chore: :construction: add site URL to `astro.config.mjs`
  astro.config.mjs
Due: eslint --cache --fix --ext .js,.mjs,.cjs ./, prettier --cache --write "./**/*.{js,mjs,cjs}"

ci: :rocket: Add GitHub Pages deployment workflow
  .github/workflows/deploy.yml
Due: prettier --cache --write "./**/*.{yaml,yml}"

chore: :wrench: ignore YAML files in Prettier formatting
  .prettierignore
Due: none

fix: :green_heart: update base URL in `astro.config.mjs`
  astro.config.mjs
Due: eslint --cache --fix --ext .js,.mjs,.cjs ./, prettier --cache --write "./**/*.{js,mjs,cjs}"

fix: :bug: update image URLs to use new asset path
  src/components/Cards/Card.astro
  src/components/Footer/Footer.astro
  src/components/RankingItem/RankingItem.astro
  src/pages/index.astro
  src/pages/ranking/[user].astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :bug: update image URLs
  src/pages/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :rocket: update slugs in `Navbar` component
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :rocket: update ranking item link to include project path
  src/components/RankingItem/RankingItem.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :bug: update active class logic in `Navbar` component
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :bug: update slugs and active class logic in `Navbar` component
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :rewind: revert previus commit
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: :recycle: update image URLs to use new asset path
  src/components/Cards/Card.astro
  src/components/Footer/Footer.astro
  src/components/RankingItem/RankingItem.astro
  src/layouts/Base.astro
  src/pages/index.astro
  src/pages/ranking/[user].astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: :construction: test active logic in `Navbar` component
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :bug: update slugs in `Navbar` component
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :bug: update slug handling in `Navbar` component
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: 🚧 test active logic in `Navbar` component
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: :bug: update `Navbar` logo link
  src/components/Navbar/NavbarLogo.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: :rewind: update slug handling in `Navbar` component
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: :lipstick: update `Card` component size calculation
  src/components/Cards/Card.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: :arrow_up: update dependencies
  package.json
Due: prettier --cache --write "./**/*.json"

feat: :rocket: add Creators page
  public/assets/images/creators/jane_doe.webp
  public/assets/images/creators/jhon_doe.webp
  public/assets/images/creators/juan_perez.webp
  public/assets/images/creators/marta_perez.webp
  src/components/Cards/Card.astro
  src/components/Creator/Creator.astro
  src/components/Creator/index.ts
  src/components/ScrollToTop.astro
  src/contracts/common.type.ts
  src/contracts/creator.type.ts
  src/contracts/index.ts
  src/data/cards.ts
  src/data/creators.ts
  src/icons/socials/github.svg
  src/icons/socials/linkedin.svg
  src/icons/socials/twitch.svg
  src/icons/socials/twitter.svg
  src/icons/socials/website.svg
  src/icons/socials/youtube.svg
  src/pages/creators.astro
Due: eslint --cache --fix --ext .ts ./, prettier --cache --write "./**/*.ts", eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: :rocket: add Manz reference
  public/assets/images/manz.webp
  src/components/Footer/Footer.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: remove package lock files from `.gitignore`
  .gitignore
  pnpm-lock.yaml
Due: prettier --cache --write "./**/*.{yaml,yml}"

chore: remove JSDoc types
  src/components/Navbar/Navbar.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: update `README.md` file
  README.md
Due: none

style: add mask in manzdev logo
  src/components/Footer/Footer.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

refactor: update easter styles
  src/components/Footer/Footer.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

style: add star animation in manzdev logo
  src/components/Footer/Footer.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

feat: add sound in mouse enter event
  src/components/Footer/Footer.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: add star sound
  public/audio/star.mp3
Due: none

fix: update base usage in ranking page when searching user
  src/pages/ranking/index.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

chore: update back button link in ranking page
  src/pages/ranking/[user].astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

fix: update card size at `DialogCard` component
  src/components/Cards/DialogCard.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

add icons for roadmap
  src/icons/roadmap/check.svg
  src/icons/roadmap/code.svg
  src/icons/roadmap/hourglass.svg
Due: none

create roadmap page
  src/pages/roadmap.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"

create CardRoadmap component
  src/components/CardRoadmap.astro
Due: eslint --cache --fix --ext .astro ./src/, prettier --cache --write "./src/**/*.astro"
